body, html {
    background-color: rgb(30, 30, 30);
}

.div {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    height: 120px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

#span {
    width: 1px;
    height: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border: none;
    background-color: rgb(255, 46, 91);
}

#record {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border: none;
    outline:2px solid white;
    outline-offset: 5px;
    transition: 0.3s;
}

p {
    position: fixed;
    left: 20%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10pt;
}

#fps {
    width: 60px;
    height: 30px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    position: fixed;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14pt;
}

#video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.rots {
    position: absolute;
    bottom: 130px;
    width: 100%;
    left: 0;
    background-color: transparent;
    height: 30px;
    display: inline-flex;
}

.cors {
    position: relative;
    display: inline-flex;
    left: 0;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12pt;
}
